body {
    background-color:  red;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      max-height:550px;
  }
  
 .errors{
 font-size:italic;
 color:red;
 }

                  

}